*~
Makefile
Makefile.in
/a-fedora-appliance-*.tar.gz
/a-fedora-appliance-*.src.rpm
/a-fedora-appliance.spec
/aclocal.m4
/appliance.d/
/autom4te.cache/
/boot-a-fedora-appliance
/build-a-fedora-appliance
/config.log
/config.status
/configure
/initrd
/install-sh
/kernel
/local*
/make.sh
/missing
/root
/stamp-supermin
/supermin.d/
